*
{
    margin:0;
    padding:0;
    border:border-box;
}

.mobver
{
    display:none;
}
body
{
    background-color:black;
}

.img
{
    display: flex;
     /* border:.1rem solid white; */
    justify-content:left;
    align-items: center;
    text-align:top;
    margin-left:.5rem;
    margin-top:.5rem;
}

.img1 i
{
    margin-left:.5rem;
    font-size:2rem;
    color:green;

}

.text p
{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:.5rem;
}

.whatstop
{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    color:white;
    /* border:.1rem solid white; */
    margin-top:1rem;
    margin-left:.5rem;
    margin-right:.5rem;
    
}

.wt1
{
    margin-top:1rem;
    /* margin-left:.8rem; */
    margin-left:.5rem;
    color:white;
    font-size:1rem;
    cursor: pointer;
}
hr
{
    
    margin-top:1rem;
    width:100%;
    background-color:#808070;
    /* margin-left:.6rem; */
    
}

.wt2
{
    margin-left:.3rem;
    color:green;
    margin-top:1rem;
    margin-bottom:.6rem;
    background:conic-gradient( blue,purple);
    width:1.2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align:center;
    background-position:10;
    height:1.2rem;
    border-radius:50%;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {

    100%
    {
        background-position:400;
    }
    
}
.wt2_1
{
    width:.7rem;
    height:.7rem;
    border-radius:50%;
    background-color:black;
    
}

.whatstop
{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    color:white;
    /* border:.1rem solid white; */
    margin-top:1rem;
    margin-left:.5rem;
    margin-right:.5rem;
    
}
.whatsbot
{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    color:white;
    /* border:.1rem solid white; */
    margin-top:6.8rem;
    margin-left:.5rem;
    margin-right:.5rem;
    
}



.wt3
{
    margin-left:.1rem;
    margin-top:1rem;
    margin-bottom:.6rem;
    background-image:url('img2/logo.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    width:1.5rem;
    height:1.5rem;
    /* border:.1rem solid white; */
   
    border-radius:50%;
    
}

.slide
{
    background-color:rgb(18, 17, 17);
    position: absolute;
    display:none;
    z-index:1;
    top:0;
    left:0;
    width:15%;
    /* border:.1rem solid white; */
}

._wt1
{
    cursor: pointer;
    margin-top:1rem;
    display: flex;
    /* margin-left:.8rem; */
    margin-left:.5rem;
    color:white;
    font-size:1rem;
    
}
._wt2
{
    justify-content:left;
    text-align: center;
    align-items: center;
    display: flex;
}

._wt3
{
    display: flex;
    justify-content:left;
    text-align: center;
    align-items: center;
}

._text
{
    margin-left:.5rem;
}

._whatstop
{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    color:white;
    /* border:.1rem solid white; */
    margin-top:1rem;
    margin-left:.5rem;
    margin-right:.5rem;
    width:2.5%;
    
}
._whatsbot
{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    color:white;
    /* border:.1rem solid white; */
    margin-top:6.8rem;
    margin-left:.5rem;
    margin-right:.5rem;
    width:2.5%;
    
}

.mainfun
{
    background-color:rgb(43, 42, 42);
    width:25%;
    border-top-left-radius:1rem ;
    border-bottom-left-radius:1rem ;
    height:89%;
    position:absolute;
    top:9%;
    left:4%;

}

@media screen and (max-width:768px) {
     
    body
    {
        background-color:black;
    }
    .super
    {
        display:none;
    }

    .mobver
    {    
          display: flex;
          justify-content: center;
          align-items: center;
          text-align:left;
          flex-direction: column;
          width:100%;
          height:100%;
          border:.2rem solid white;
          background-color:#5e655e;
        }
        
        img
        {
            width:4rem;
            margin-bottom:1.5rem;
            border-radius:50%;
        }

        .mess2
        {
            font-size:1.4rem;
            margin:2rem;
            color:white;
    }
    
}